<div class="modal fade" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="bookmarkModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookmarkModalLabel">Edit Assigned Projects: <span class="modal-assignee">Unknown</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="assignments-grid"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var projects = [];
  var assignments = [];
  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $(document).ready(function () {
    {# session authentication requires a CSRF token #}
    var csrftoken = Cookies.get('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    {# end CSRF setup #}

    var assignmentsGrid = $('.assignments-grid');

    //Load projects, there's probably a more efficient, jQuery defer or promise, way of doing
    $.getJSON("{% url 'utilization:api:project-list' %}", function(projectData){
      projects = projectData;
    });

    jsGrid.validators.unique = {
      message: "Project has already been assigned",
      validator: function(value, item){
        var assignments = assignmentsGrid.jsGrid("option", "data");
        return !assignments.map(assg => assg.project).includes(value);
      }
    }

    $('#bookmarkModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var worker = button.data('workername'); // Extract info from data-* attributes
      var workerUUID = button.data('workeruuid');

      var modal = $(this);
      modal.find('.modal-assignee').text(worker);

      //AJAX call to get projects and whether or not they're assigned to the user
      var assignmentURL ="{% url 'utilization:api:assignment-list' %}?worker=" + workerUUID;

      //Grid controller
      var gridController = {
        loadData: function(filter){
            return $.getJSON(assignmentURL, filter);
        },
        insertItem: function(item) {
            item['worker'] = workerUUID;

            return $.ajax({
                type: "POST",
                url: "/api/assignments/",
                dataType: "json",
                data: item,
            });
        },
        updateItem: $.noop,

        deleteItem: function(item) {
          return $.ajax({
              type: "DELETE",
              url: "/api/assignments/"+item['uuid'],
              dataType: "json",
          });
        },
      };

      //Load the grid
      assignmentsGrid.jsGrid({
        width: "100%",
        height: 350,

        inserting: true,
        editing: false,
        sorting: true,
        paging: true,
        selecting: false,
        pageSize: 5,
        pageButtonCount: 5,
        deleteConfirm: "Are you sure?",
        autoload: true,
        controller: gridController,

        fields: [
            { title: "Project Title", name: "project", type: "select", valueField: "uuid",
              textField: "title", valueType: "string", validate: "unique",
              items: projects, //replaced via AJAX to Project List
              width: 100 },

            { type: "control", editButton: false, deleteButton: true }
        ]
      });

    });
  });
</script>