{% load i18n %}

<header class="navbar navbar-expand-md navbar-light bg-faded">
  <a class="navbar-brand" href="{% url 'home' %}">
      <i class="fa fa-group fa-lg"></i>{% if not request.user.is_authenticated %}
      &nbsp;Elyza{% endif %}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.user.is_authenticated %}

          {% if perms.utilization.view_worker %}
              <form class="form-inline mr-md-auto my-2 my-lg-0" role="search" id="mainSearch" action="{% url 'utilization:worker-list' %}">
                <div class="input-group mr-sm-1">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control search" placeholder="{% trans 'Search' %}" name="q" id="q">
                </div>
                <div class="input-group mr-sm-1">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input type="text" class="form-control" placeholder="{% now 'm/d/y' %} - {% now 'm/d/y' %}" name="qDaterange">
                </div>
                <input type="hidden" name="qClearance" value="all">
                <input type="hidden" name="qEmploymentStatus" value="all">
                <input type="hidden" name="qMinAvailability" value="0">
                <input type="hidden" name="qOrderBy" value="available-date-desc">
                <button id="searchBtn" class="btn btn-primary">Search</button>
              </form>
          {% else %}
              {#  TODO replace div with CSS, just here for spacing #}
              <div class="mr-md-auto my-2 my-lg-0"> </div>
          {% endif %}

      <div class="dropdown mr-md-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Projects" %}
        </button>

        <div class="dropdown-menu-right dropdown-menu" aria-labelledby="dropdownMenuLink">
          <h6 class="dropdown-header"><i class="fa fa-pencil-square-o"></i> {% trans "Proposals" %}</h6>
          <a class="dropdown-item" href="{% url 'utilization:project-list' %}">{% trans "View All Proposals" %}</a>
          <span class="dropdown-item"><i>{% trans "No Proposals" %}</i></span>

          <div class="dropdown-divider"></div>

          <h6 class="dropdown-header"><i class="fa fa-briefcase"></i> {% trans "Task Orders" %}</h6>
          <a class="dropdown-item" href="{% url 'utilization:project-list' %}">Manage Task Orders</a>
          <span class="dropdown-item"><i>{% trans "No Task Orders" %}</i></span>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog fa-lg"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          {% if request.user.is_superuser %}
            <a id='admin-dash-link' class="dropdown-item" href="{% url 'admin:index' %}">
              <i class="fa fa-beer"></i> Admin</a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'users:detail' request.user.username  %}"><i class="fa fa-user"></i> {% trans "My Profile" %}</a>
          <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> {% trans "Sign Out" %}</a>
        </div>
      </div>
      {% endif %}

      {% if not request.user.is_authenticated %}
      <ul class="navbar-nav mt-2 mt-md-0 ml-auto">

          {% url 'account_signup' as account_signup_url %}
          {% url 'account_login' as account_login_url %}


          {% if request.get_full_path != account_signup_url %}
          <li class="nav-item">
            <a id="sign-up-link" class="nav-link" href="{{account_signup_url}}"><i class="fa fa-user-plus"></i> {% trans "Sign Up" %}</a>
          </li>
          {% endif %}

          {% if request.get_full_path != account_login_url %}
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="log-in-link" class="nav-link" href="{{account_login_url}}"><i class="fa fa-sign-in"></i> {% trans "Sign In" %}</a>
          </li>
          {% endif %}
      </ul>
      {% endif %}
  </div>
</header>
