.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.dropdown-menu-right {
  right: 0;
  left: auto; }

[hidden][style="display: block;"] {
  display: block !important; }

.chart-canvas {
  width: 100%;
  height: 100 !important; }
