{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}

{% block title %}Project: {{ project.title }}{% endblock %}

{% block content %}

	<div class="row mb-3 justify-content-md-center">
		<h1 class="display-1">Project: {{ project.title }}</h1>
	</div>
	<div class="row">
		<div class="col-md-3">
			{% if project.contract %}
				<p>Start Date: {{ project.contract.during.lower }}</p>
				<p>End Date: {{ project.contract.during.upper }}</p>
			{% endif %}
		</div>
		<div class="col">
			<p>Budget: ${{ project.budget_in_dollars | intcomma }}</p>
			<p>Assigned Total: $0</p>
			<p>Unassigned Total: $250,000</p>
            {% if project.contract %}
              <p>Nav ID: {{ project.contract.accounting_id }}
            {% endif %}
		</div>
		<div class="col-md-3">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Attachments</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#">Tag</a></td>
					</tr>
					<tr>
						<td><a href="#">Tip</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="plots-tab" data-toggle="tab" href="#plots" role="tab" aria-controls="plots" aria-selected="true">Plots</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="personnel-tab" data-toggle="tab" href="#personnel" role="tab" aria-controls="personnel" aria-selected="false">Personnel</a>
  </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="plots" role="tabpanel" aria-labelledby="plots-tab">
        <div class="row">
        	<canvas id="canvas" class="chart-canvas"></canvas>
        </div>

        <div class="row">
        	<button class="btn btn-primary" id="randomizeData">Randomize Data</button>
        	<button class="btn btn-primary" id="addDataset">Add Dataset</button>
        	<button class="btn btn-primary" id="removeDataset">Remove Dataset</button>
        	<button class="btn btn-primary" id="addData">Add Data</button>
        	<button class="btn btn-primary" id="removeData">Remove Data</button>
        </div>
    </div>

    <div class="tab-pane" id="personnel" role="tabpanel" aria-labelledby="personnel-tab">
        {% if project.assignees.count > 0 %}
            <ul class="list-unstyled">
                {% for worker in project.assignees.all %}
            	<li class="media my-4 rounded">
            	  <a href="#">
            		  <img class="d-flex align-self-start mr-3 rounded-circle" src="https://via.placeholder.com/70x70" alt="Generic placeholder image">
            	  </a>

            	  <div class="media-body container-fluid">
            	  	<div class="row">
            			<div class="col">
            				<a href="{% url 'utilization:worker-detail' worker.uuid %}">
            					<h3 class="mt-0 mb-1">{{ worker.last_name }}, {{ worker.first_name }}</h3>
            				</a>
            			</div>

            			<div class="col">
            				<h6>TS/SCI</h6>
            			</div>

            			<div class="col ml-auto">
            				Available 8/7/2017
            			</div>

            	  		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">{% trans "Schedule" %}</button>
            	  		<a class="btn btn-danger" href="#">{% trans "Remove" %}</a>
            		</div>
            		<div class="row">
            			<div class="col-3">
            				<h5>{{ worker.company.name }}</h5>
            				<h5>Assigned to</h5>
                           <i>{{ worker.projects.count }} project{{ worker.projects.count | pluralize }}</i>
            			</div>
            			<div class="col">
            				{% lorem %}
            			</div>
            		</div>
                    {% endfor %}
            	  </div>
            	</li>
            </ul>
        {% else %}
            <h2>No personnel assigned</h2>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans "Schedule For: " %} Last Name, First Name </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div id="jsGrid"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block customjs %}
<script>
$(document).ready(function(){
/* global Chart */

'use strict';

window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};

(function(global) {
    var Months = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
    ];

    var COLORS = [
        '#4dc9f6',
        '#f67019',
        '#f53794',
        '#537bc4',
        '#acc236',
        '#166a8f',
        '#00a950',
        '#58595b',
        '#8549ba'
    ];

    var Samples = global.Samples || (global.Samples = {});
    Samples.utils = {
        // Adapted from http://indiegamr.com/generate-repeatable-random-numbers-in-js/
        srand: function(seed) {
            this._seed = seed;
        },

        rand: function(min, max) {
            var seed = this._seed;
            min = min === undefined ? 0 : min;
            max = max === undefined ? 1 : max;
            this._seed = (seed * 9301 + 49297) % 233280;
            return min + (this._seed / 233280) * (max - min);
        },

        numbers: function(config) {
            var cfg = config || {};
            var min = cfg.min || 0;
            var max = cfg.max || 1;
            var from = cfg.from || [];
            var count = cfg.count || 8;
            var decimals = cfg.decimals || 8;
            var continuity = cfg.continuity || 1;
            var dfactor = Math.pow(10, decimals) || 0;
            var data = [];
            var i, value;

            for (i = 0; i < count; ++i) {
                value = (from[i] || 0) + this.rand(min, max);
                if (this.rand() <= continuity) {
                    data.push(Math.round(dfactor * value) / dfactor);
                } else {
                    data.push(null);
                }
            }

            return data;
        },

        labels: function(config) {
            var cfg = config || {};
            var min = cfg.min || 0;
            var max = cfg.max || 100;
            var count = cfg.count || 8;
            var step = (max - min) / count;
            var decimals = cfg.decimals || 8;
            var dfactor = Math.pow(10, decimals) || 0;
            var prefix = cfg.prefix || '';
            var values = [];
            var i;

            for (i = min; i < max; i += step) {
                values.push(prefix + Math.round(dfactor * i) / dfactor);
            }

            return values;
        },

        months: function(config) {
            var cfg = config || {};
            var count = cfg.count || 12;
            var section = cfg.section;
            var values = [];
            var i, value;

            for (i = 0; i < count; ++i) {
                value = Months[Math.ceil(i) % 12];
                values.push(value.substring(0, section));
            }

            return values;
        },

        color: function(index) {
            return COLORS[index % COLORS.length];
        },

        transparentize: function(color, opacity) {
            var alpha = opacity === undefined ? 0.5 : 1 - opacity;
            return Chart.helpers.color(color).alpha(alpha).rgbString();
        },

        merge: Chart.helpers.configMerge
    };

    Samples.utils.srand(Date.now());

    // DEPRECATED
    window.randomScalingFactor = function() {
        return Math.round(Samples.utils.rand(0, 100));
    };

}(this));

/* Configure the plot */
var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var config = {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "Person 0",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ],
                    fill: false,
                }, {
                    label: "Person 1",
                    fill: false,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ],
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Utilization'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };
        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };
        document.getElementById('randomizeData').addEventListener('click', function() {
            config.data.datasets.forEach(function(dataset) {
                dataset.data = dataset.data.map(function() {
                    return randomScalingFactor();
                });
            });
            window.myLine.update();
        });
        var colorNames = Object.keys(window.chartColors);
        document.getElementById('addDataset').addEventListener('click', function() {
            var colorName = colorNames[config.data.datasets.length % colorNames.length];
            var newColor = window.chartColors[colorName];
            var newDataset = {
                label: 'Project ' + config.data.datasets.length,
                backgroundColor: newColor,
                borderColor: newColor,
                data: [],
                fill: false
            };
            for (var index = 0; index < config.data.labels.length; ++index) {
                newDataset.data.push(randomScalingFactor());
            }
            config.data.datasets.push(newDataset);
            window.myLine.update();
        });
        document.getElementById('addData').addEventListener('click', function() {
            if (config.data.datasets.length > 0) {
                var month = MONTHS[config.data.labels.length % MONTHS.length];
                config.data.labels.push(month);
                config.data.datasets.forEach(function(dataset) {
                    dataset.data.push(randomScalingFactor());
                });
                window.myLine.update();
            }
        });
        document.getElementById('removeDataset').addEventListener('click', function() {
            config.data.datasets.splice(0, 1);
            window.myLine.update();
        });
        document.getElementById('removeData').addEventListener('click', function() {
            config.data.labels.splice(-1, 1); // remove the label first
            config.data.datasets.forEach(function(dataset, datasetIndex) {
                dataset.data.pop();
            });
            window.myLine.update();
        });

/* JS Table stuff */
   var allocations = [
        { "Month": "March", "Hours Allocated": 85},
        { "Month": "April", "Hours Allocated": 125},
        { "Month": "May", "Hours Allocated": 125},
        { "Month": "June", "Hours Allocated": 100},
        { "Month": "July", "Hours Allocated": 60},
    ];

    $("#jsGrid").jsGrid({
        width: "100%",
        height: "400px",

        inserting: false,
        editing: true,
        sorting: true,
        paging: true,

        data: allocations,

        fields: [
            { name: "Month", width: 100},
            { name: "Hours Allocated", type: "number", width: 100, validate: "required" },
            { type: "control" }
        ]
    });


});
</script>
{% endblock customjs %}