{% extends "base.html" %}
{% load static i18n crispy_forms_tags  humanize %}
{% block title %}{% trans "Project" %}{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="projectStatusSelect">
		<option selected>{% trans "Status..." %}
	    <option value="1">{% trans "Proposed" %}</option>
	    <option value="2">{% trans "Lost" %}</option>
	    <option value="3">{% trans "Won" %}</option>
	    <option value="4">{% trans "Complete" %}</option>
	</select>

	<a class="btn btn-success ml-auto mr-sm-2" href="{% url 'utilization:project-create' %}">New Project</a>

	<label for="sortBySelect" class="mr-sm-2">{% trans "Sort by" %}</label>
	<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="sortBySelect">
	    <option value="1" selected>{% trans "Available Soonest" %}</option>
	</select>
</nav>

<div class="row">
{% for project in projects %}
	<div class="card text-center col-md-4 mt-1 mb-1" style="width: 20rem;">
	  <div class="card-block">
	  	<h3 class="card-title"><a href="{% url 'utilization:project-detail' project.uuid %}">
	  		{% if project.title %}
	  		{{ project.title }}
	  		{% else %}
	  			Unknown
	  		{% endif %}
	  		</a></h3>
	    <ul class="list-group list-group-flush">
	    {% if project.contract %}
		    <li class="list-group-item">
		    Start Date: {{ project.contract.during.lower }}
		    <p>End Date: {{ project.contract.during.upper }}</li>

		    <li class="list-group-item">Award: ${{ project.contract.award_dollars | intcomma }}</li>
	    {% else %}
		    <li class="list-group-item">Budget: $250,000<p>Assigned Total: $0</li>
		{% endif %}
		    <li class="list-group-item">Assignees: {{ project.assignees.count }}</ul>
	  </div>
	</div>
{% endfor %}
</div>

{% endblock content %}
