{% extends "base.html" %}
{% load static i18n %}

{% block title %}Person: {{ worker.last_name }}, {{worker.first_name}}{% endblock %}

{% block content %}

<div class="container">

  <div class="row mb-3">
    <div class="col">
    <h2>Profile:&nbsp;{{ worker.last_name }}, {{ worker.first_name }}</h2>
    </div>
  <div class="col-1">
    <i class="fa fa-bookmark-o fa-2x" aria-hidden="true" data-toggle="modal" data-target="#bookmarkModal" data-workername="{{worker.last_name}}, {{ worker.first_name }}" data-workeruuid="{{worker.uuid}}"></i>
  </div>
  </div>
<div class="row">
  <div class="col-2">
    <img class="d-flex align-self-start mr-3 rounded" src="https://via.placeholder.com/150x150" alt="Generic placeholder image">
  </div>
  <div class="col">
    <div class="row">
      <div class="col-2">
        <h5>Available</h5>
      </div>
      <div class="col">
          8/21/2017
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <h5>LCAT</h5>
      </div>
      <div class="col">
          CES
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <h5>Clearance</h5>
      </div>
      <div class="col">
          TS/SCI (Investigation 4/7/15)
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <h5>Company</h5>
      </div>
      <div class="col">
          IAI
      </div>
    </div>

    <div class="row">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">View Resume</button>
    </div>
    </div>
  </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Resume</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% lorem %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Downoad</button>
          </div>
        </div>
      </div>
    </div>

<!-- mytabs example start -->

    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Plots</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="appointments-tab" data-toggle="tab" href="#appointments" role="tab" aria-controls="appointments" aria-selected="false">Appointments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="actuals-tab" data-toggle="tab" href="#actuals" role="tab" aria-controls="actuals" aria-selected="false">Actuals</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="plots-tab">
      <div class="row">
        <canvas id="canvas"></canvas>
      </div>
      <div class="row">
          <button class="btn btn-primary" id="randomizeData">Randomize Data</button>
          <button class="btn btn-primary" id="addDataset">Add Dataset</button>
          <button class="btn btn-primary" id="removeDataset">Remove Dataset</button>
          <button class="btn btn-primary" id="addData">Add Data</button>
          <button class="btn btn-primary" id="removeData">Remove Data</button>
      </div>
  </div>
  <div class="tab-pane" id="appointments" role="tabpanel" aria-labelledby="appointments-tab">
            <h3>Appointments</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Project ID</th>
              <th scope='col'>Hours</th>
              <th scope="col">Start</th>
              <th scope="col">End</th>
            </tr>
          </thead>
          <tbody>
          {% for appointment in worker.appointments.all %}

            <tr>
              <th scope="row"><a href="{% url 'utilization:project-detail' appointment.project.uuid %}">{{ appointment.project.id }}</a></th>
              <td>{{ appointment.project.title | truncatechars:25 }}</td>
              <td>{{ appointment.hours }}</td>
              <td>{{ appointment.during.lower }}</td>
              <td>{{ appointment.during.upper }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
  <div class="tab-pane" id="actuals" role="tabpanel" aria-labelledby="actuals-tab">
            <h3>Actuals</h3>
         <table class="table">
          <thead>
            <tr>
              <th scope="col">Project ID</th>
              <th scope="col">Project Title</th>
              <th scope='col'>Hours</th>
              <th scope="col">Start</th>
              <th scope="col">End</th>
            </tr>
          </thead>
          <tbody>
            {% for actual in worker.actuals.all %}
            <tr>
              <th scope="row"><a href="{% url 'utilization:project-detail' actual.project.uuid %}">{{ actual.project.id }}</a></th>
              <td>{{ actual.project.title | truncatechars:25 }}</td>
              <td>{{ actual.hours }}</td>
              <td>{{ actual.during.lower }}</td>
              <td>{{ actual.during.upper }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
</div>

<!--- end of mytabs example  -->

{% include "snippets/bookmark.html" %}

</div>
{% endblock content %}

{% block customjs %}
<script>
$(document).ready(function(){
/* global Chart */

'use strict';

window.chartColors = {
  red: 'rgb(255, 99, 132)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(75, 192, 192)',
  blue: 'rgb(54, 162, 235)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
};

(function(global) {
  var Months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
  ];

  var COLORS = [
    '#4dc9f6',
    '#f67019',
    '#f53794',
    '#537bc4',
    '#acc236',
    '#166a8f',
    '#00a950',
    '#58595b',
    '#8549ba'
  ];

  var Samples = global.Samples || (global.Samples = {});
  Samples.utils = {
    // Adapted from http://indiegamr.com/generate-repeatable-random-numbers-in-js/
    srand: function(seed) {
      this._seed = seed;
    },

    rand: function(min, max) {
      var seed = this._seed;
      min = min === undefined ? 0 : min;
      max = max === undefined ? 1 : max;
      this._seed = (seed * 9301 + 49297) % 233280;
      return min + (this._seed / 233280) * (max - min);
    },

    numbers: function(config) {
      var cfg = config || {};
      var min = cfg.min || 0;
      var max = cfg.max || 1;
      var from = cfg.from || [];
      var count = cfg.count || 8;
      var decimals = cfg.decimals || 8;
      var continuity = cfg.continuity || 1;
      var dfactor = Math.pow(10, decimals) || 0;
      var data = [];
      var i, value;

      for (i = 0; i < count; ++i) {
        value = (from[i] || 0) + this.rand(min, max);
        if (this.rand() <= continuity) {
          data.push(Math.round(dfactor * value) / dfactor);
        } else {
          data.push(null);
        }
      }

      return data;
    },

    labels: function(config) {
      var cfg = config || {};
      var min = cfg.min || 0;
      var max = cfg.max || 100;
      var count = cfg.count || 8;
      var step = (max - min) / count;
      var decimals = cfg.decimals || 8;
      var dfactor = Math.pow(10, decimals) || 0;
      var prefix = cfg.prefix || '';
      var values = [];
      var i;

      for (i = min; i < max; i += step) {
        values.push(prefix + Math.round(dfactor * i) / dfactor);
      }

      return values;
    },

    months: function(config) {
      var cfg = config || {};
      var count = cfg.count || 12;
      var section = cfg.section;
      var values = [];
      var i, value;

      for (i = 0; i < count; ++i) {
        value = Months[Math.ceil(i) % 12];
        values.push(value.substring(0, section));
      }

      return values;
    },

    color: function(index) {
      return COLORS[index % COLORS.length];
    },

    transparentize: function(color, opacity) {
      var alpha = opacity === undefined ? 0.5 : 1 - opacity;
      return Chart.helpers.color(color).alpha(alpha).rgbString();
    },

    merge: Chart.helpers.configMerge
  };

  Samples.utils.srand(Date.now());

  // DEPRECATED
  window.randomScalingFactor = function() {
    return Math.round(Samples.utils.rand(0, 100));
  };

}(this));

/* Adding controls */
var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var config = {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "Project 0",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ],
                    fill: false,
                }, {
                    label: "Project 1",
                    fill: false,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor()
                    ],
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Utilization'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };
        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };
        document.getElementById('randomizeData').addEventListener('click', function() {
            config.data.datasets.forEach(function(dataset) {
                dataset.data = dataset.data.map(function() {
                    return randomScalingFactor();
                });
            });
            window.myLine.update();
        });
        var colorNames = Object.keys(window.chartColors);
        document.getElementById('addDataset').addEventListener('click', function() {
            var colorName = colorNames[config.data.datasets.length % colorNames.length];
            var newColor = window.chartColors[colorName];
            var newDataset = {
                label: 'Project ' + config.data.datasets.length,
                backgroundColor: newColor,
                borderColor: newColor,
                data: [],
                fill: false
            };
            for (var index = 0; index < config.data.labels.length; ++index) {
                newDataset.data.push(randomScalingFactor());
            }
            config.data.datasets.push(newDataset);
            window.myLine.update();
        });
        document.getElementById('addData').addEventListener('click', function() {
            if (config.data.datasets.length > 0) {
                var month = MONTHS[config.data.labels.length % MONTHS.length];
                config.data.labels.push(month);
                config.data.datasets.forEach(function(dataset) {
                    dataset.data.push(randomScalingFactor());
                });
                window.myLine.update();
            }
        });
        document.getElementById('removeDataset').addEventListener('click', function() {
            config.data.datasets.splice(0, 1);
            window.myLine.update();
        });
        document.getElementById('removeData').addEventListener('click', function() {
            config.data.labels.splice(-1, 1); // remove the label first
            config.data.datasets.forEach(function(dataset, datasetIndex) {
                dataset.data.pop();
            });
            window.myLine.update();
        });
});
</script>
{% endblock customjs %}

