{% extends "base.html" %}
{% load static i18n %}
{% load static urlutils %}

{% block title %}{% trans "Workers" %}{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="clearanceSelect">
		<option selected>{% trans "Security Clearance..." %}
	    <option value="1">{% trans "None" %}</option>
	    <option value="2">{% trans "Confidential" %}</option>
	    <option value="3">{% trans "Secret" %}</option>
	    <option value="4">{% trans "Top Secret" %}</option>
	    <option value="5">{% trans "SCI" %}</option>
	</select>

	<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#moreFiltersModal">
	  <i class="fa fa-filter"></i>&nbsp;{% trans "Advanced" %}
	</button>

	<div class="modal fade" id="moreFiltersModal" tabindex="-1" role="dialog" aria-labelledby="moreFiltersModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="moreFiltersModalLabel">{% trans "Advanced Filters" %}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<fieldset>
				<legend>{% trans "Employment Type" %}</legend>
				<label>
					<input type="checkbox" value="workers">
					&nbsp;{% trans "Workers" %}
				</label>
				<label>
					<input type="checkbox" value="contingents">
					&nbsp;{% trans "Contingent Hires" %}
				</label>
				<label>
					<input type="checkbox" value="subcontractors">
					&nbsp;{% trans "Subcontractors" %}
				</label>
			</fieldset>

			<fieldset>
				<legend>{% trans "Availability" %}</legend>
			 	<input type="text" id="range" value="" name="range" />
			</fieldset>
	      </div>
	    </div>
	  </div>
	</div>

	<label for="sortBySelect" class="ml-auto mr-sm-2">{% trans "Sort by" %}</label>
	<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="sortBySelect">
	    <option value="1" selected>{% trans "Available Soonest" %}</option>
	</select>

</nav>

{% if workers %}
	<ul class="list-unstyled">
		{% for worker in workers %}
		<li class="media my-4 rounded">
		  <a href="{% url 'utilization:worker-detail' worker.uuid %}">
			  <img class="d-flex align-self-start mr-3 rounded-circle" src="https://via.placeholder.com/70x70" alt="Generic placeholder image">
		  </a>

		  <div class="media-body container-fluid">
		  	<div class="row">
				<div class="col">
					<a href="{% url 'utilization:worker-detail' worker.uuid %}">
						<h3 class="mt-0 mb-1">{{worker.last_name}},&nbsp;{{ worker.first_name }}</h3>
					</a>
				</div>

				<div class="col">
					<h6>TS/SCI (Placholder)</h6>
				</div>

				<div class="col ml-auto">
					Available 8/7/2017 (Placeholder)
				</div>
				<div class="col-1">
					<i class="fa fa-bookmark-o fa-2x" aria-hidden="true" data-toggle="modal" data-target="#bookmarkModal" data-workername="{{worker.last_name}}, {{ worker.first_name }}" data-workeruuid="{{worker.uuid}}"></i>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<h5>{{worker.company.name}}</h5>
					<h5>Assigned to</h5>
					<i>{{ worker.projects.count }} project{{ worker.projects.count | pluralize }}</i>
				</div>
				<div class="col">
					{% lorem %}
				</div>
			</div>
		  </div>
		</li>
		{% endfor %}
	</ul>

	{% if is_paginated %}
		<nav aria-label="worker paginator">
		  <ul class="pagination">
		    <li class="page-item">
		     {% if page_obj.has_previous %}
		      <a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		        <span class="sr-only">Previous</span>
		      </a>
		      {% endif %}
		    </li>
		    <li class="page-item active">Page {{ page_obj.number }} of {{ paginator.num_pages }}</li>
		    <li class="page-item">
		    {% if page_obj.has_next %}
		      <a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		        <span class="sr-only">Next</span>
		      </a>
	        {% endif %}
		    </li>
		  </ul>
		</nav>
	{% endif %}
{% else %}
  <p>No workers found!</p>
{% endif %}

{% include "snippets/bookmark.html" %}


<script>
$(document).ready(
	function () {

        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 100,
            from: 0,
            to: 100,
            type: 'double',
            step: 5,
            grid: true,
            postfix: " %"
        });
    });
</script>



{% endblock content %}
