{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Main{% endblock title %} | Elyza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Elyza Application">
    <meta name="author" content="Dave Caraway">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon-group.ico'%}"/>

    {# HTML5 shim, for IE6-8 support of HTML5 elements #}
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block css %}
    {# Latest compiled and minified Bootstrap 4 Beta CSS #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    {# Your stuff: Third-party CSS libraries go here #}

    {# font awesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {# date range picker #}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    {# ion rangeslider #}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.min.css" integrity="sha256-rLxtUobhp345FlKKF5jGqmYe10rPQq7oof6uQbM4bRE=" crossorigin="anonymous" />

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.skinHTML5.min.css" integrity="sha256-kbE143368yYkdGzsEMdaVpz138ouYbMYg2LRha52Sxw=" crossorigin="anonymous" />

     {# jsgrid plugin #}
     <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
     <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

    {# This file stores project-specific CSS #}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {# Moved JQuery up just because it's that important!  #}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </head>

  <body>

  {% include 'snippets/navbar.html' %}

    <div class="container-fluid">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}  alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              {{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Main content goes here</p>
      {% endblock content %}

    </div>

    {% block modal %}{% endblock modal %}

    {# the javascript #}
    {#  ================================================== #}
    {#   Placed at the end of the document so the pages load faster #}

    {% block javascript %}
      {#  Required by Bootstrap v4 Beta #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

      {# Your stuff: Third-party javascript libraries go here #}
      <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

      {# Cookie.js #}
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

      {#  Include Date Range Picker #}
      <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

      {# ion range slider #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js" integrity="sha256-GGaHen9mYvJ38qyPttMXoqnMfEGpc5QgjPcWp5u4oBM=" crossorigin="anonymous"></script>

      {# chartjs #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" integrity="sha256-SiHXR50l06UwJvHhFY4e5vzwq75vEHH+8fFNpkXePr0=" crossorigin="anonymous"></script>

      {# jsgrid #}
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

      {# place project specific Javascript in this file #}
      <script src="{% static 'js/project.js' %}"></script>

      {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
          {% include "google_analytics.html" %}
      {% endif %}

    {% endblock javascript %}

    {% block customjs %}
       {# your custom javascript goes here #}
    {% endblock customjs %}

  </body>
</html>